
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --color_primario:rgb(60, 188, 46);
    --color_secundario:rgb(59, 176, 46);
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f2f5;
    height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Contenedor_formularios{
    width: 800px;
    height: auto;
    display: flex;
    justify-content: center;
    background: rgb(255, 255, 255);
    border-radius: 10px !important;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);

}

.Contenedor_descripcion{
    width: 400px;
    background: rgb(255, 255, 255);
    padding: 10PX;
    border-radius: 10px !important;
    
    
}

.Contenedor_descripcion img{
    border-radius: 10PX;
}

.Contenedor_login{
    width: 400px;
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px !important;
    
}
 .formulario_login{
    width: 100%;
    display: block;
    text-align: center;
    color: rgb(90, 87, 87);
    
}
 .formulario_login input{
    width: 100%;
    display: block;
    padding: 6px 15px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid rgb(223, 232, 236);
    color: rgb(90, 91, 92);

}

 .formulario_login input:focus{
    border: 1px solid rgb(5, 163, 255);
    transition: .5s;
}

.btn-login{
    background: var(--color_primario) !important;
    color: white !important;
}
.btn-login:hover{
    background: var(--color_secundario) !important;
    color: white;
}

.btn-registro button{
    border: 0;
    padding: 6px 15px;
    background: rgb(23, 163, 234)!important;
    color: white;
}

@media (max-width: 830px) {
    .Contenedor_formularios{
        display: block;
        width: 100%;
    }
    .Contenedor_login{
        width: 100%;
    }
    .Contenedor_descripcion{
        width: 100%;         
    }
}



.contraseñas{
    display: flex;
}
.password-icon {
    float: right;
    position: relative;
    margin: -36px 10px 0 0;
    cursor: pointer;
    color: var(--color_primario);
}


.wrap {
    width: 90%;
    max-width: 1000px;
    margin: 0 20px;
    /*margin: auto;*/
}



.radio {
    display:flex;
    justify-content:baseline;
    align-items: center;
    padding-left: 30px;
}
.radio div{
    display:flex;
}

.radio input{
    padding: 0 !important;
    margin: 0 !important;
}

.radio label{
    padding: 0 !important;
    margin-left: 5px;
    margin-right: 35px;
}


.formulario_registro{
    width: 100%;
    display: block;
    color: rgb(90, 87, 87);
    
}
 .formulario_registro input{
    width: 100%;
    display: block;
    padding: 6px 15px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid rgb(223, 232, 236);
    color: rgb(90, 91, 92);

}

 .formulario_registro input:focus{
    border: 1px solid rgb(5, 163, 255);
    transition: .5s;
    background: rgb(245, 250, 248);
}


